NODE_ENV=development
PORT=3000

JWT_SECRET=some_random_32_char_string_change_this
JWT_EXPIRES_IN=7d

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=taskmanager_users
POSTGRES_USER=postgres
POSTGRES_PASSWORD=vaibhav@123

MONGODB_URI=mongodb://localhost:27017/taskmanager_tasks